body {
    background-color: cyan;
}

#score {
    font-size: 30px;
    margin-left: 28px;

}

#time {
    font-size: 30px;
    float: right;
    margin-right: 26px;

}

#draw {
    color: red;
}